@import "../../assets/styles/variables";

.input-block {
  label {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
  }
  & + & {
    margin-top: $input-height;
  }
}

.input-wrap {
  display: flex;
  align-items: center;
  position: relative;
  height: $input-height;
  border-bottom: 1px solid $grey;
  width: 100%;
  &:focus-within {
    border-bottom-color: $active;
  }
  .clear {
    position: absolute;
    right: -1px;
    top: -1px;
    color: rgba($text-color, 0.5);
    cursor: pointer;
    width: $input-height;
    height: $input-height;
    background: transparent;
    border: none;
    font-size: 1.2em;
    text-align: center;
    line-height: $input-height;
  }
  input {
    padding: 0 1rem;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: $text-fade;
    font-size: 1.2em;
  }
  .error {
    position: absolute;
    color: red;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
  }
}
